html {
  height: 100vh;
}

body {
  display: flex;
  margin: 0;
  padding: 0;
}

/* ASIDE */

.left_side,
.right_side {
  background: linear-gradient(#00d4ff, #6004c2, #356d86, #020024);
  background-size: cover;
  width:25%;
  text-align: center;
  color: azure;
}

.player_image {
  width: 8vw;
  padding-top: 1vh;
}

.player_one,
.player_two {
  font-size: xxx-large;
}

/* GAME BOARD */

.game_board {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 50%;
  height: 100%;
  
}

.player_turn {
  text-align: start;
  padding-bottom: 5%;
  font-size: xxx-large;
}

.game_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 2.5%;
  width: 60%;
  height: 60%;
  background: linear-gradient(#00d4ff, #63c204, #356d86, #e8ae25);
  pointer-events: none;  
}

.tile {
  margin: 0;
  padding: 0;
  border: none;
  background-color: white;
  cursor: pointer;
  height: 100%;
  width: 100%;

}

button {
  pointer-events: all;
}

img {
  pointer-events: none;
}